* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100%;
  overflox: hidden;

  border: 1px solid black;
}

#root h1 {
  color: blue;
  font-family: Helvetica, sans-serif;
}
